.App {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	padding: 15%;
}

.soft-padding {
	padding: 1.25%;
}

.quote-box {
	width: 80%;
	height: 55%;

	background-color: #ffff;
	border-radius: 10px 0;
}